<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andcris.lealappschallenge">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LealAppsChallenge">
        <activity android:name=".presentation.activities.register.RegisterActivity"
            android:label="@string/login_activity_tv_register"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.activities.login.LoginActivity"
            android:label="@string/login_activity_tb_login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.activities.exercise.ExerciseActivity"
            android:label="@string/home_activity_bt_exercises"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.activities.workout.AddEditWorkoutActivity"
            android:label="@string/add_edit_workout_tb_add"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.activities.workout.WorkoutActivity"
            android:label="@string/home_activity_bt_workouts"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.activities.home.HomeActivity"
            android:label="@string/home_activity_tb_label"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.activities.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>